#addcustomerform{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1px;
    width: 400px;
    margin: 0 auto;
    margin-left: -80px;
}


#field2{
    color: rgb(0, 0, 0);
    padding: 7px;
}

input{
    color: black;
    font-weight: bolder;
}

#createcustomerbutton{
    background-color: #428fc2;
    color: rgb(255, 255, 255);
    height: 35px;
    align-items: center;
    border-radius: 10px;
    border-color: rgb(254, 254, 254);
    font-size: medium;
    border-width: 0.2px;
}

#erroraddcustomer{
    font-size: medium;
    color: aliceblue;
    margin-left: -600px;
}

#addcustomersuccess{
   
    color: white;
    font-size: medium;
    margin-left: -570px;     
}
